@import "./stylesheet.scss";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 66px;
  background: #ffffff;
  font-family: "Futura PT", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
}

::placeholder {
  color: #000000;
}

.simplebar-scrollbar {
  border-radius: 999rem;
  background: #000000;
  &:before,
  &:after {
    display: none;
  }
}

.simplebar-track:after {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  margin-left: -1px;
  background: #000000;
}

.e-header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: #ffffff;
  transition: all 0.2s ease-out;
  z-index: 90;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__news {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: -10px 0 0 0;
    padding: 4px;
    background-color: #000000;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &-search {
    display: none;
    position: relative;
    width: calc(100% - 40px);
    max-width: 100%;
    margin: 0 0 30px 0;
    padding: 11px 11px 11px 36px;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: none;
    background: url("../images/icon_search.png") no-repeat left center;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  &__logo {
    display: inline-block;
    img,
    svg {
      max-width: 214px;
      height: 52px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__mob {
    display: inline-block;
    position: relative;
  }
  &__toggle {
    display: inline-block;
    position: relative;
    padding: 22px 35px 22px 0;
    &_close {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -30px;
    width: 800px;
    padding: 50px 60px;
    border: 1px solid #000000;
    background-color: #ffffff;
    z-index: 91;
    &-close {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 100%;
      left: -1px;
      width: 75px;
      height: 60px;
      margin-bottom: -1px;
      border: 1px solid #000000;
      border-bottom-color: #ffffff;
      background-color: #ffffff;
      img,
      svg {
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        img,
        svg {
          transform: rotate(90deg);
        }
        text-decoration: none;
      }
    }
  }
  &__navtitle {
    display: block;
    margin: 0 0 10px 0;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
  }
  &__nav {
    display: block;
    margin: 0 0 50px 0;
    padding: 0;
    list-style: none;
    &_margin {
      margin: 0;
    }
    &_padding {
      padding-left: 40px;
    }
    b,
    strong {
      font-weight: 500;
    }
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 10px 0;
        color: #000000;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.29;
      }
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 14px 0;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
  }
  &__info {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  &__phone {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #000000;
      text-decoration: underline;
    }
  }
  &__button {
    display: block;
    padding: 16px;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "Futura PT Book";
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__search {
    display: inline-block;
    padding: 22px 35px 22px 0;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__lang {
    display: inline-block;
    padding: 22px 0 22px 35px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__person {
    display: inline-block;
    padding: 22px 0 22px 35px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__fav {
    display: inline-block;
    padding: 22px 0 22px 35px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__basket {
    display: inline-block;
    position: relative;
    &-icon {
      display: inline-block;
      padding: 22px 0 22px 35px;
      z-index: 93;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
    &-counter {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 14px;
      right: -10px;
      width: 21px;
      height: 21px;
      overflow: hidden;
      border-radius: 999rem;
      background-color: #000000;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      text-align: center;
      z-index: 94;
      pointer-events: none;
    }
  }
  &-basket {
    display: none;
    position: absolute;
    top: 100%;
    right: -30px;
    width: 400px;
    margin-top: -3px;
    padding: 22px 30px 30px 30px;
    border: 1px solid #000000;
    background-color: #ffffff;
    z-index: 91;
    &:before {
      display: block;
      position: absolute;
      content: "";
      bottom: 100%;
      right: -1px;
      width: 75px;
      height: 60px;
      margin-bottom: -1px;
      border: 1px solid #000000;
      border-bottom: 3px solid #ffffff;
      background-color: transparent;
      pointer-events: none;
    }
    &__close {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      padding: 30px;
      img,
      svg {
        display: block;
        max-width: 15px;
        max-height: 15px;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        img,
        svg {
          transform: rotate(90deg);
        }
        text-decoration: none;
      }
    }
    &__dots {
      display: block;
      position: relative;
      width: 100%;
      height: 1px;
      margin: 20px 0;
      background: url("../images/doted_bg.png") repeat 0 0;
    }
    &__title {
      display: block;
      width: 100%;
      margin: 0;
      color: #000000;
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
    }
    &__cards {
      display: block;
      position: relative;
      width: 100%;
      height: 420px;
      overflow-y: auto;
    }
    &__button {
      display: block;
      width: 100%;
      margin: 0;
      padding: 16px;
      border: 0;
      outline: none;
      background-color: #000000;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      font-family: "Futura PT Book";
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
      }
    }
    &-card {
      display: block;
      position: relative;
      width: 100%;
      max-width: 300px;
      margin: 0 0 40px 0;
      &__image {
        display: block;
        position: relative;
        width: 110px;
        height: 150px;
        background-position: center center;
        background-size: cover;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          opacity: 0.8;
          text-decoration: none;
        }
      }
      &__title {
        display: block;
        height: 38px;
        overflow: hidden;
        margin: 0;
        color: #000000;
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          opacity: 0.8;
          color: #000000;
          text-decoration: none;
        }
      }
      &__info {
        display: block;
        margin: 13px 0 0 0;
        color: #000000;
        font-size: 14px;
        font-weight: 300;
        b,
        strong {
          font-weight: 400;
          font-family: "Futura PT Book";
        }
      }
      &__row {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 18px 0 0 0;
      }
      &__oldprice {
        display: inline-block;
        margin: 0;
        color: #000000;
        font-size: 20px;
        font-weight: 300;
        text-decoration: line-through;
      }
      &__price {
        display: inline-block;
        margin: 0;
        color: #000000;
        font-size: 20px;
        font-weight: 400;
        font-family: "Futura PT Book";
      }
      &__sale {
        display: inline-block;
        margin: 0 28px 0 8px;
        padding: 1px 8px;
        background-color: #000000;
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
      }
      &__counter {
        display: flex;
        align-items: stretch;
        position: relative;
        margin: 14px 0 0 0;
        input {
          display: block;
          width: 100%;
          max-width: 56px;
          margin: 0 0 0 -1px;
          padding: 2px 2px;
          border: 0;
          outline: none;
          border: 1px solid #000000;
          background-color: #ffffff;
          color: #000000;
          font-size: 20px;
          font-weight: 400;
          font-family: "Futura PT Book";
          text-align: center;
        }
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
      &__minus {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        border: 1px solid #000000;
        outline: none;
        background: #ffffff url("../images/icon_minus.png") no-repeat center center;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          border-color: #ffffff;
          filter: invert(1);
          text-decoration: none;
        }
      }
      &__plus {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        margin: 0 0 0 -1px;
        border: 1px solid #000000;
        outline: none;
        background: #ffffff url("../images/icon_plus.png") no-repeat center center;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          border-color: #ffffff;
          filter: invert(1);
          text-decoration: none;
        }
      }
    }
  }
}

.e-top {
  display: block;
  position: relative;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      min-height: calc(100vh - 66px);
      padding: 200px 0 100px 0;
      text-align: center;
    }
    &__title {
      display: block;
      max-height: 216px;
      overflow: hidden;
      margin: 0 0 25px 0;
      color: #ffffff;
      font-size: 90px;
      font-weight: 500;
      text-transform: uppercase;
    }
    &__text {
      display: block;
      margin: 0 0 90px 0;
      color: #ffffff;
      font-size: 40px;
      font-weight: 400;
      font-family: "Futura PT Book";
      text-transform: uppercase;
    }
    &__button {
      display: inline-block;
      padding: 16px 72px;
      border: 1px solid #ffffff;
      background: transparent;
      text-align: center;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      font-family: "Futura PT Book";
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: #ffffff;
        color: #000000;
        text-decoration: none;
      }
    }
  }
  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 35px;
  }
  .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin: 0 11px !important;
    border-radius: 999rem;
    background-color: #ffffff;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    width: 11px;
    height: 11px;
    border: 2px solid #ffffff;
    background: transparent;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 34px;
    height: 63px;
    margin-top: -31px;
    outline: none;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: calc((100vw - 1200px) / 2);
    background: url("../images/swiper_big_prev.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-button-next {
    right: calc((100vw - 1200px) / 2);
    background: url("../images/swiper_big_next.png") no-repeat center center;
    background-size: contain;
  }
}

.e-home-cards {
  display: block;
  position: relative;
  width: 100%;
  padding: 130px 0 0 0;
  &_padding {
    padding: 0;
  }
  &_item {
    padding: 0;
  }
  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 45px 0;
    color: #000000;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }
  &__cards {
    display: block;
    position: relative;
    width: calc(100% + 30px);
    margin-left: -15px;
    padding: 15px 15px 130px 15px;
  }
  &-card {
    display: block;
    position: relative;
    width: 270px;
    margin: 0 auto;
    transform-style: preserve-3d;
    z-index: 5;
    &:before {
      display: none;
      position: absolute;
      content: "";
      left: -15px;
      top: -15px;
      width: calc(100% + 30px);
      height: calc(100% + 30px + 115px);
      border: 1px solid #000000;
      background: #ffffff;
    }
    &__1 {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      z-index: 1;
    }
    &__2 {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      z-index: 2;
    }
    &__wrap {
      display: block;
      position: relative;
      width: 100%;
      height: 370px;
    }
    &__overlay {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-end;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 10px;
      z-index: 3;
      transition: all 0.2s ease-out;
    }
    &__like {
      display: inline-block;
      position: relative;
      width: 19px;
      height: 17px;
      background: url("../images/icon_like.png") no-repeat center center;
      background-size: contain;
      z-index: 5;
      &_liked {
        background: url("../images/icon_liked.png") no-repeat center center !important;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
    &__info {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: stretch;
      position: relative;
      width: 100%;
    }
    &-info {
      display: inline-block;
      margin: 10px 10px 0 0;
      padding: 4px 14px;
      border: 1px solid #000000;
      background-color: transparent;
      color: #000000;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
    }
    &__title {
      display: block;
      position: relative;
      margin: 14px 0 12px 0;
      color: #000000;
      font-size: 20px;
      font-weight: 300;
    }
    &__row {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
    }
    &__stars {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      img,
      svg {
        display: inline-block;
        max-width: 17px;
        max-height: 17px;
        margin-right: 10px;
      }
    }
    &__oldprice {
      display: inline-block;
      margin: 0;
      color: #000000;
      font-size: 20px;
      font-weight: 300;
      text-decoration: line-through;
    }
    &__price {
      display: inline-block;
      margin: 0;
      color: #000000;
      font-size: 20px;
      font-weight: 400;
      font-family: "Futura PT Book";
    }
    &__sale {
      display: inline-block;
      margin: 0 28px 0 8px;
      padding: 1px 8px;
      background-color: #000000;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      text-align: center;
    }
    &__more {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 16px 0;
      background: #ffffff;
      z-index: 6;
      transition: all 0.2s ease-out;
    }
    &__subtitle {
      display: block;
      margin: 0 0 8px 0;
      color: #000000;
      font-size: 14px;
      font-weight: 300;
    }
    &__text {
      display: block;
      margin: 0 0 18px 0;
      color: #000000;
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
      span {
        margin-right: 14px;
      }
    }
    cursor: pointer;
    text-decoration: none;
    &:hover {
      z-index: 6;
      &:before {
        display: block;
      }
      .e-home-cards-card__2 {
        display: block;
      }
      .e-home-cards-card__more {
        display: block;
      }
      text-decoration: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 165px;
    width: 70px;
    height: 70px;
    margin-top: 0;
    outline: none;
    z-index: 20;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: -20px;
    background: url("../images/swiper_prev.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-button-next {
    right: -20px;
    background: url("../images/swiper_next.png") no-repeat center center;
    background-size: contain;
  }
}

.e-home-categories {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 30px 0;
  &__title {
    display: block;
    margin: 0 0 65px 0;
    color: #000000;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 0 auto 60px auto;
    &__image {
      display: block;
      width: 100%;
      height: 470px;
      background-position: center center;
      background-size: cover;
    }
    &__title {
      display: block;
      margin: 40px 0 0 0;
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

.e-home-ig {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px 0 85px 0;
  &__centered {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
    max-width: 570px;
    overflow: hidden;
    margin: 0 auto;
  }
  &-card {
    display: block;
    width: 100%;
    max-width: 185px;
    height: 185px;
    margin: 0 0 8px 0;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 16px 37px;
    border: 0;
    outline: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "Futura PT Book";
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.e-home-features {
  display: block;
  padding: 45px 0 15px 0;
  border-top: 1px solid #000000;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 30px auto;
    padding-left: 170px;
    background-position: 0 0;
    background-repeat: no-repeat;
    &__title {
      display: block;
      margin: 0 0 18px 0;
      color: #000000;
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;
    }
    &__text {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

.e-subscribe {
  display: block;
  position: relative;
  padding: 48px 0;
  background-color: #000000;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  ::placeholder {
    color: #000000;
  }
  input {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    padding: 17px 23px;
    border: 0;
    outline: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  &__title {
    display: block;
    margin: 0 40px 0 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
  }
  &__info {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 16px 49px;
    border: 1px solid #ffffff;
    outline: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "Futura PT Book";
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #ffffff;
      color: #000000;
      text-decoration: none;
    }
  }
}

.e-home-seo {
  display: block;
  position: relative;
  padding: 115px 0 85px 0;
  &__title {
    display: block;
    margin: 0 0 45px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
  }
  &__content {
    display: block;
    position: relative;
    p {
      display: block;
      margin: 0 0 20px 0;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

.e-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 45px 0 55px 0;
  background-color: #000000;
  &__logo {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 34px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
  }
  &__nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 16px 0;
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.29;
      }
    }
  }
  &__text {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__info {
    display: block;
    margin: 18px 0 36px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
    a {
      color: #ffffff;
    }
  }
  &__bottom {
    display: block;
    position: relative;
    margin: 10px 0 0 0;
    padding: 40px 0 0 0;
    border-top: 1px solid #ffffff;
  }
  &__social {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    a {
      display: inline-block;
      padding: 0 0 0 26px;
      img,
      svg {
        max-width: 23px;
        max-height: 23px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
  &__pay {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    & > div {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 30px;
      height: 18px;
      margin: 1px 0 0 10px;
      padding: 2px;
      background-color: #ffffff;
      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

::-webkit-search-cancel-button {
  position: relative;
  right: 0;
  -webkit-appearance: none;
  height: 17px;
  width: 17px;
  background: url("../images/icon_close.png") no-repeat center center;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-out;
  &:hover {
    opacity: 0.8;
    text-decoration: none;
  }
}

.e-search {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.8);
  }
  ::placeholder {
    color: #000000;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: rotate(90deg);
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 30px 0;
    padding: 60px 60px 65px 60px;
    border: 1px solid #000000;
    background: #ffffff;
  }
  &__title {
    display: block;
    margin: 0 0 25px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
  }
  &__search {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 0 30px 0;
    padding: 11px 11px 11px 36px;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: none;
    background: url("../images/icon_search.png") no-repeat left center;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 16px 25px;
    border: 0;
    outline: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "Futura PT Book";
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.e-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.8);
  }
  ::placeholder {
    color: #000000;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: rotate(90deg);
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 30px 0;
    padding: 60px 60px 65px 60px;
    border: 1px solid #000000;
    background: #ffffff;
  }
  &__title {
    display: block;
    margin: 0 0 25px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 14px 0px;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: none;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
    transition: all 0.2s ease-out;
    &:focus {
      padding: 14px;
    }
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 16px 25px;
    border: 0;
    outline: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "Futura PT Book";
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
  }
  &__info {
    display: inline-block;
    margin: 0 20px 0 0;
    padding-left: 22px;
    background: url("../images/modal_checked.png") no-repeat 0 3px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    a {
      color: #000000;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #181818;
        text-decoration: none;
      }
    }
  }
}

.e-breadcrumps {
  display: block;
  position: relative;
  margin: 0;
  padding: 40px 0 45px 0;
  list-style: none;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  li {
    display: inline-block;
    span {
      display: inline-block;
      margin: 0 5px;
    }
    a {
      color: #000000;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #000000;
        text-decoration: underline;
      }
    }
  }
}

.e-aside {
  display: block;
  position: relative;
  width: 100%;
  &-collapse {
    display: block;
    position: relative;
    width: 100%;
    margin: -1px 0 0 0;
    padding: 20px 25px 20px 0;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    font-family: "Futura PT Book";
    background: url("../images/icon_plus.png") no-repeat right center;
    z-index: 3;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #000000;
      text-decoration: none;
    }
    &_active {
      background: url("../images/icon_minus.png") no-repeat right center !important;
      &:after {
        display: none !important;
      }
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: url("../images/doted_bg.png") repeat 0 0;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: url("../images/doted_bg.png") repeat 0 0;
    }
  }
  &-wrap {
    display: none;
    position: relative;
    padding: 0 0 5px 0;
  }
  &-check {
    display: block;
    position: relative;
    margin: -15px 0 0 0;
    padding: 0;
    cursor: pointer;
    &:hover {
      z-index: 2;
    }
    & > div {
      display: block;
      position: relative;
      margin: 0;
      padding: 0 0 10px 22px;
      background: url("../images/icon_checkbox.png") no-repeat left 0 top 3px;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
    }
    input {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        background: url("../images/icon_checkbox_checked.png") no-repeat left 0 top 3px;
      }
    }
  }
  &-color {
    display: block;
    position: relative;
    margin: -15px 0 0 0;
    padding: 0;
    cursor: pointer;
    &:hover {
      z-index: 2;
    }
    &__main {
      display: flex;
      align-items: center;
      position: relative;
      margin: 0;
      padding: 0 0 20px 0;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
    }
    &__color {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 25px;
      width: 25px;
      height: 25px;
      border-radius: 999rem;
      margin-right: 10px;
      transition: all 0.2s ease-out;
      img,
      svg {
        opacity: 0;
        transition: all 0.2s ease-out;
      }
    }
    input {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        .e-aside-color__color {
          img,
          svg {
            opacity: 1;
          }
        }
      }
    }
  }
}

.e-goods {
  display: block;
  position: relative;
  width: 100%;
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    .e-home-cards-card {
      margin: 0 auto 60px auto;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding: 0 0 45px 0;
  }
  &__title {
    display: inline-block;
    margin: 0;
    color: #000000;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
  }
  &__sort {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    padding-bottom: 5px;
  }
  &__sub {
    display: inline-block;
    margin: 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  &__radio {
    display: block;
    position: relative;
    margin: -15px 0 0 0;
    padding: 0;
    cursor: pointer;
    &:hover {
      z-index: 2;
    }
    & > div {
      display: block;
      position: relative;
      margin: 0;
      padding: 0 0 0 45px;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
    }
    input {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        text-decoration: underline;
      }
    }
  }
  &__subtitle {
    display: block;
    position: relative;
    margin: 0 0 40px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
  }
  &__seo {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 0 90px 0;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  &__tags {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 0 90px 0;
  }
  &-tag {
    display: inline-block;
    position: relative;
    margin: 0 20px 20px 0;
    padding: 11px 18px;
    border-radius: 20px;
    border: 1px solid #000000;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #000000;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.e-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 20px 0 100px 0;
  list-style: none;
  &_borderless {
    a {
      border: 0 !important;
    }
  }
  &_unclickable {
    pointer-events: none !important;
    cursor: default !important;
  }
  &_active {
    a {
      background: #000000 !important;
      color: #ffffff !important;
    }
  }
  li {
    display: inline-block;
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 50px;
      height: 50px;
      margin: 5px 10px;
      padding: 1px 2px;
      border: 1px solid #000000;
      border-radius: 999rem;
      background-color: #ffffff;
      color: #000000;
      font-size: 20px;
      font-weight: 400;
      font-family: "Futura PT Book";
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        color: #000000;
        text-decoration: none;
      }
    }
  }
}

.e-goods-mob {
  display: none;
  align-items: stretch;
  position: relative;
  width: 100%;
  margin: 20px 0 30px 0;
  &__button {
    display: block;
    position: relative;
    width: 100%;
    margin: 30px 0 0 0;
    padding: 16px;
    border: 0;
    outline: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "Futura PT Book";
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__filter {
    display: inline-block;
    position: relative;
    width: 50%;
    padding: 19px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #000000;
      text-decoration: none;
    }
  }
  &__sort {
    display: inline-block;
    position: relative;
    width: 50%;
    padding: 19px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #000000;
      text-decoration: none;
    }
  }
  &-filter {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: -1px 0 0 0;
    padding: 30px 20px 15px 20px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background: #ffffff;
    z-index: 50;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: calc(50% - 1px);
      height: 4px;
      top: -2px;
      left: 0;
      background: #ffffff;
    }
  }
  &-sort {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    margin: -1px 0 0 0;
    padding: 30px 20px 15px 20px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background: #ffffff;
    z-index: 50;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 50%;
      height: 4px;
      top: -2px;
      right: 0;
      background: #ffffff;
    }
  }
}

/* ::-webkit-search-cancel-button {
  width: 50px;
  height: 100%;
  background: url("../images/icon_clear.png") no-repeat center center !important;
  -webkit-appearance: none;
} */

.e-searching {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 50px 0;
  &__title {
    display: none;
    margin: 55px 0 20px 0;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }
  &__search {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 3px;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: none;
    color: #000000;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 16px;
    border: 0;
    outline: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "Futura PT Book";
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.e-item {
  display: block;
  position: relative;
  width: 100%;
  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #000000;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 0 30px 0;
  }
  &__subtitle {
    display: inline-block;
    margin: 0 20px 0 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  &__subinfo {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
  }
  &__empty {
    display: block;
    margin: 40px 0;
    color: #ff0000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  &__oldprice {
    display: inline-block;
    margin: 0;
    color: #000000;
    font-size: 20px;
    font-weight: 300;
    text-decoration: line-through;
  }
  &__price {
    display: inline-block;
    margin: 0;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  &__sale {
    display: inline-block;
    margin: 0 30px 0 8px;
    padding: 1px 8px;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
  }
  &__button {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 16px 68px;
    border: 0;
    outline: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "Futura PT Book";
    text-align: center;
    &_disabled {
      opacity: 0.1 !important;
      cursor: default !important;
      pointer-events: none !important;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__like {
    display: inline-block;
    width: 26px;
    height: 24px;
    margin: 5px 0 5px 35px;
    background: url("../images/item_fav.png") no-repeat center center;
    background-size: contain;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &_liked {
      background: url("../images/item_faved.png") no-repeat center center !important;
    }
  }
  &__stars {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    img,
    svg {
      display: inline-block;
      max-width: 17px;
      max-height: 17px;
      margin-right: 8px;
    }
  }
  &__color {
    display: inline-block;
    position: relative;
    input {
      display: none;
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      cursor: pointer;
      &:checked ~ div {
        &:after {
          display: block;
          position: absolute;
          content: "";
          top: -4px;
          left: -4px;
          width: calc(100% + 8px);
          height: calc(100% + 8px);
          border: 1px solid #000000;
          border-radius: 999rem;
        }
      }
    }
    div {
      display: inline-block;
      position: relative;
      width: 25px;
      height: 25px;
      border-radius: 999rem;
      margin: -20px 26px 5px 0;
    }
  }
  &__size {
    display: inline-block;
    position: relative;
    input {
      display: none;
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      cursor: pointer;
      &:checked ~ div {
        &:after {
          display: block;
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: calc(100%);
          height: calc(100%);
          border: 1px solid #000000;
        }
      }
    }
    div {
      display: inline-block;
      position: relative;
      min-width: 40px;
      margin: -20px 5px 5px 0;
      padding: 5px 2px;
      color: #000000;
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
    }
  }
  &__collapse {
    display: block;
    position: relative;
    width: 100%;
    margin: -1px 0 0 0;
    padding: 18px 25px 18px 0;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    font-family: "Futura PT Book";
    background: url("../images/icon_plus.png") no-repeat right center;
    z-index: 3;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #000000;
      text-decoration: none;
    }
    &_active {
      background: url("../images/icon_minus.png") no-repeat right center !important;
      &:after {
        display: none !important;
      }
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: url("../images/doted_bg.png") repeat 0 0;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: url("../images/doted_bg.png") repeat 0 0;
    }
  }
  &__collapsed {
    display: none;
    position: relative;
    padding: 5px 0 15px 0;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  &__space {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 18px 0;
  }
  &__link {
    display: inline-flex;
    align-items: center;
    img,
    svg {
      display: inline-block;
      max-width: 22px;
      max-height: 22px;
      margin-right: 8px;
    }
    a {
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      font-family: "Futura PT Book";
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #000000;
        text-decoration: none;
      }
    }
  }
  &__cards {
    display: block;
    position: relative;
    .swiper-slide {
      display: inline-block;
      width: 100%;
      max-width: 370px;
      height: 500px;
      background-position: center center;
      background-size: cover;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
    .swiper-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 20px;
    }
    .swiper-pagination-bullet {
      width: 7px;
      height: 7px;
      margin: 0 11px !important;
      border-radius: 999rem;
      background-color: #ffffff;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      width: 11px;
      height: 11px;
      border: 2px solid #ffffff;
      background: transparent;
    }
  }
}

.br-theme-fontawesome-stars-o .br-widget {
  margin-top: 12px;
}
.br-theme-fontawesome-stars-o .br-widget a {
  margin-right: 8px;
}
.br-theme-fontawesome-stars-o .br-widget a:after {
  color: #000000;
}
.br-theme-fontawesome-stars-o .br-widget a.br-selected:after {
  color: #000000;
}
.br-theme-fontawesome-stars-o .br-widget a.br-active:after {
  color: #000000;
}

.e-feedback {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0 50px 0;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #000000;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }
  &__subtitle {
    display: block;
    margin: 0 0 15px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 35px 0;
    padding: 15px 0;
    border: 0;
    outline: none;
    border-bottom: 1px solid #000000;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  textarea {
    display: block;
    width: 100%;
    min-height: 50px;
    margin: 0 0 35px 0;
    padding: 15px 0;
    border: 0;
    overflow: visible !important;
    outline: none;
    border-bottom: 1px solid #000000;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  &__text {
    display: inline-block;
    margin: 0 20px 0 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 16px;
    border: 0;
    outline: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "Futura PT Book";
    text-align: center;
    &_disabled {
      opacity: 0.1 !important;
      cursor: default !important;
      pointer-events: none !important;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
}

.e-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 45px 0 90px 0;
  &__button {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 16px 44px;
    border: 0;
    outline: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "Futura PT Book";
    text-align: center;
    &_disabled {
      opacity: 0.1 !important;
      cursor: default !important;
      pointer-events: none !important;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.e-reviews-card {
  display: block;
  position: relative;
  width: 100%;
  margin: -1px 0 0 0;
  padding: 45px 0;
  &:before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: url("../images/doted_bg.png") repeat 0 0;
  }
  &:after {
    display: block;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: url("../images/doted_bg.png") repeat 0 0;
  }
  &__name {
    display: block;
    margin: 0 0 22px 0;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__date {
    display: inline-block;
    margin: 0 0 0 30px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
  }
  &__text {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  &__like {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50px;
    &-icon {
      display: inline-block;
      max-width: 21px;
      max-height: 21px;
    }
    &-counter {
      display: inline-block;
      margin: 0 8px -5px 0;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      font-family: "Futura PT Book";
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #000000;
      text-decoration: none;
    }
  }
}

.e-info {
  display: block;
  position: relative;
  width: 100%;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #000000;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 370px;
    min-height: 200px;
    margin: 0 auto 45px auto;
    padding: 30px 70px 22px 30px;
    background: #000000 url("../images/info_right.png") no-repeat right 30px bottom 30px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    img,
    svg {
      display: block;
      max-width: 170px;
      max-height: 170px;
    }
    &__title {
      display: block;
      margin: 0 0 5px 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
    }
    &__name {
      display: block;
      margin: 0;
      color: #ffffff;
      font-weight: 300;
      font-size: 30px;
      text-transform: uppercase;
    }
  }
  &__test {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 90px 0;
    padding: 25px 100px 25px 45px;
    background: #000000 url("../images/info_right.png") no-repeat right 70px center;
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    img,
    svg {
      display: inline-block;
      max-width: 80px;
      max-height: 100px;
      margin-right: 40px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 0 80px 0;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 20px 0;
      color: #000000;
      font-weight: 300;
    }
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 35px;
    }
    h3 {
      font-size: 30px;
    }
    h4 {
      font-size: 24px;
    }
    h5 {
      font-size: 20px;
    }
    h6 {
      font-size: 14px;
    }
    b,
    strong {
      font-weight: 400;
      font-family: "Futura PT Book";
    }
    p {
      display: block;
      margin: 0 0 20px 0;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
    ul {
      li {
        margin-bottom: 20px;
      }
    }
    a {
      color: #000000;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #000000;
        text-decoration: none;
      }
    }
  }
  .table {
    width: 770px;
  }
  .table td,
  .table th {
    position: relative;
    padding: 16px 4px;
    border: 0;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: right;
    &:first-child {
      text-align: left;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: url("../images/doted_bg.png") repeat 0 0;
    }
  }
  .table-responsive {
    padding-bottom: 10px;
  }
  .table thead th {
    padding: 14px 4px;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    font-family: "Futura PT Book";
    line-height: 1.2;
  }
  .simplebar-scrollbar {
    border-radius: 999rem;
    background: #000000;
    &:before,
    &:after {
      display: none;
    }
  }
  .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    height: 11px !important;
    border-radius: 999rem !important;
  }
  .simplebar-track:after {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    background: #000000;
  }
  .simplebar-track.simplebar-horizontal {
    height: 15px;
  }
}

.e-basket {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 100px 0;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 40px 0 0 0;
  }
  &__final {
    display: inline-block;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    b,
    strong {
      color: #000000;
      font-size: 30px;
      font-weight: 400;
      font-family: "Futura PT Book";
    }
  }
  &__button {
    display: inline-block;
    position: relative;
    margin: 25px 0 0 0;
    padding: 16px 54px;
    border: 0;
    outline: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "Futura PT Book";
    text-align: center;
    &_disabled {
      opacity: 0.1 !important;
      cursor: default !important;
      pointer-events: none !important;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__title {
    display: block;
    margin: 0 0 15px 0;
    color: #000000;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  &__summ {
    display: inline-block;
    margin: 0;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
  }
  &__info {
    display: inline-block;
    position: relative;
    width: 23px;
    height: 23px;
    margin-left: 30px;
    background: url("../images/basket_info.png") no-repeat center center;
    background-size: contain;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .e-basket__info-text {
        display: flex;
      }
    }
    &-text {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: calc(100% + 14px);
      top: 50%;
      margin-top: -22px;
      width: 338px;
      min-height: 45px;
      background: #ffffff url("../images/basket_info_bg.png") no-repeat 0 0;
      background-size: 100% 100%;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      font-family: "Futura PT Book";
      text-align: center;
      z-index: 5;
    }
  }
  &__save {
    display: block;
    margin: 20px 0 40px 0;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    b,
    strong {
      font-weight: 400;
      font-family: "Futura PT Book";
    }
  }
  &__header {
    display: block;
    position: relative;
    padding: 20px 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: url("../images/doted_bg.png") repeat 0 0;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: url("../images/doted_bg.png") repeat 0 0;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: -1px 0 0 0;
    padding: 20px 0;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: url("../images/doted_bg.png") repeat 0 0;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: url("../images/doted_bg.png") repeat 0 0;
    }
    &__image {
      display: block;
      width: 150px;
      height: 205px;
      background-position: center center;
      background-size: cover;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
    &__tag {
      display: inline-block;
      margin: 10px 10px 0 0;
      padding: 3px 14px;
      border: 1px solid #000000;
      background-color: #ffffff;
      color: #000000;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
    }
    &__title {
      display: block;
      position: relative;
      height: 48px;
      overflow: hidden;
      margin: 20px 0 25px 0;
      color: #000000;
      font-size: 20px;
      font-weight: 300;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        color: #000000;
        text-decoration: none;
      }
    }
    &__info {
      display: inline-block;
      margin: 0;
      padding: 25px 40px 0 0;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      b,
      strong {
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        font-family: "Futura PT Book";
      }
    }
    &__oldprice {
      display: inline-block;
      margin: 0 8px 12px 0;
      color: #000000;
      font-size: 20px;
      font-weight: 300;
      text-decoration: line-through;
    }
    &__sale {
      display: inline-block;
      position: relative;
      margin: -3px 0 12px 0;
      padding: 1px 8px;
      background-color: #000000;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
    }
    &__price {
      display: block;
      width: 100%;
      margin: 0;
      color: #000000;
      font-size: 30px;
      font-weight: 400;
      font-family: "Futura PT Book";
    }
    &__summ {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 30px;
      font-weight: 400;
      font-family: "Futura PT Book";
    }
    &__delete {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      padding: 25px 0 25px 25px;
      z-index: 6;
      img,
      svg {
        display: block;
        max-width: 15px;
        max-height: 15px;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        img,
        svg {
          transform: rotate(90deg);
        }
        text-decoration: none;
      }
    }
    &__counter {
      display: flex;
      align-items: stretch;
      position: relative;
      margin: 0;
      input {
        display: block;
        width: 100%;
        max-width: 56px;
        margin: 0 0 0 -1px;
        padding: 2px 2px;
        border: 0;
        outline: none;
        border: 1px solid #000000;
        background-color: #ffffff;
        color: #000000;
        font-size: 20px;
        font-weight: 400;
        font-family: "Futura PT Book";
        text-align: center;
      }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
    &__minus {
      display: block;
      position: relative;
      width: 40px;
      height: 40px;
      border: 1px solid #000000;
      outline: none;
      background: #ffffff url("../images/icon_minus.png") no-repeat center center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        border-color: #ffffff;
        filter: invert(1);
        text-decoration: none;
      }
    }
    &__plus {
      display: block;
      position: relative;
      width: 40px;
      height: 40px;
      margin: 0 0 0 -1px;
      border: 1px solid #000000;
      outline: none;
      background: #ffffff url("../images/icon_plus.png") no-repeat center center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        border-color: #ffffff;
        filter: invert(1);
        text-decoration: none;
      }
    }
  }
}

.e-basket-promo {
  display: block;
  position: relative;
  padding: 24px 0 18px 0;
  &:after {
    display: block;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: url("../images/doted_bg.png") repeat 0 0;
  }
  &__title {
    display: block;
    margin: 8px 0 0 0;
    color: #000000;
    font-size: 20px;
    font-weight: 300;
  }
  &__checked {
    display: block;
    margin: 00;
    padding-left: 20px;
    background: url("../images/basket_checked.png") no-repeat 0 6px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
  }
  &__button {
    display: block;
    width: 100%;
    margin: 0 0 24px 0;
    padding: 9px;
    border: 1px solid #000000;
    background: transparent;
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    font-family: "Futura PT Book";
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #000000;
      color: #ffffff;
      text-decoration: none;
    }
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 24px 0;
    padding: 11px 0;
    border: 0;
    outline: none;
    border-bottom: 1px solid #000000;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
}

.e-order {
  display: block;
  position: relative;
  width: 100%;
  padding: 5px 0 100px;
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &__title {
    display: block;
    margin: 0 0 75px 0;
    color: #000000;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 0 45px 0;
    background: url("../images/doted_bg.png") repeat-x top 13px left 0;
  }
  &__point {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    border: 1px solid #000000;
    border-radius: 999rem;
    background-color: #ffffff;
    transform-style: preserve-3d;
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 0;
      left: 100%;
      height: 1px;
      top: 50%;
      background: #000000;
      transition: all 0.2s ease-out;
    }
    &_done {
      background: #000000 url("../images/order_step_checked.png") no-repeat center center;
      &:after {
        display: block;
        position: absolute;
        content: "";
        width: 255px;
        left: 100%;
        height: 1px;
        top: 50%;
        background: #000000;
        transform: translate3d(0, 0, -2px);
      }
    }
    &_active {
      background: #000000;
      .e-order__point-text {
        font-weight: 400;
        font-family: "Futura PT Book";
      }
      &:before {
        display: block;
        position: absolute;
        content: "";
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        top: -4px;
        left: -4px;
        border: 1px solid #000000;
        background: #ffffff;
        border-radius: 999rem;
        transform: translate3d(0, 0, -1px);
      }
    }
    &-text {
      display: block;
      position: absolute;
      top: -35px;
      left: 50%;
      width: 100px;
      margin-left: -50px;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      transition: all 0.2s ease-out;
    }
  }
}

.ui-widget.ui-widget-content {
  border: 1px solid #000000 !important;
  border-top: 0 !important;
}

.e-order-step {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  &_active {
    height: auto !important;
    overflow: visible !important;
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 14px 0px;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: none;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
    transition: all 0.2s ease-out;
    &:focus {
      padding: 14px;
    }
  }
  &__button {
    display: block;
    width: 100%;
    max-width: 224px;
    margin: 0;
    padding: 16px;
    border: 0;
    outline: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "Futura PT Book";
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__back {
    display: block;
    width: 100%;
    max-width: 224px;
    margin: 0;
    padding: 15px;
    border: 1px solid #000000;
    outline: none;
    background-color: transparent;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    font-family: "Futura PT Book";
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #000000;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
  &__center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  &__info {
    display: inline-block;
    margin: 0;
    padding-left: 22px;
    background: url("../images/modal_checked.png") no-repeat 0 3px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    a {
      color: #000000;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #181818;
        text-decoration: none;
      }
    }
  }
  &__checkbox {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    cursor: pointer;
    input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        background: url("../images/order_checkbox_checked.png") no-repeat left 0 top 4px;
      }
    }
    div {
      display: block;
      margin: 0 0 14px 0;
      padding: 0 0 0 22px;
      background: url("../images/order_checkbox.png") no-repeat left 0 top 4px;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
    }
  }
  &__summ {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    b,
    strong {
      font-size: 16px;
      font-weight: 400;
      font-family: "Futura PT Book";
    }
  }
  &__final {
    display: block;
    position: relative;
    padding: 40px 0 20px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: url("../images/doted_bg.png") repeat 0 0;
    }
    b,
    strong {
      font-size: 30px;
      font-weight: 400;
      font-family: "Futura PT Book";
    }
  }
}

.e-thx {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  img,
  svg {
    max-width: 112px;
    max-height: 112px;
  }
  &__title {
    display: block;
    margin: 55px 0 20px 0;
    color: #000000;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
  }
  &__text {
    display: block;
    margin: 0 0 100px 0;
    color: #000000;
    line-height: 1.5;
    font-size: 24px;
    font-weight: 300;
    span,
    b,
    strong {
      font-size: 30px;
    }
  }
}

.fancybox-navigation .fancybox-button {
  opacity: 1 !important;
}

.fancybox-navigation .fancybox-button--arrow_left {
  background: url("../images/swiper_big_prev.png") no-repeat center center !important;
  left: 30vw !important;
  & > div {
    display: none !important;
  }
}

.fancybox-navigation .fancybox-button--arrow_right {
  background: url("../images/swiper_big_next.png") no-repeat center center !important;
  right: 30vw !important;
  & > div {
    display: none !important;
  }
}

.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
  opacity: 0.5 !important;
}

.fancybox-button--zoom {
  display: none !important;
}

.fancybox-button--play {
  display: none !important;
}

.fancybox-button--thumbs {
  display: none !important;
}

.fancybox-button--close {
  padding: 40px;
  opacity: 1 !important;
  filter: invert(1);
  background: url("../images/fancy_close.png") no-repeat center center;
  img,
  svg {
    display: none !important;
  }
}

.fancybox-infobar {
  display: none !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .e-item__cards {
    .swiper-slide {
      margin: 0 30px 30px 0;
    }
    .swiper-wrapper {
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      width: calc(100% + 30px);
      margin: 0;
      padding: 0;
    }
  }
}

@media (max-width: 1199px) {
  .e-header {
    padding: 15px 0;
    &__logo {
      img,
      svg {
        max-width: 120px;
        max-height: 30px;
      }
    }
  }
  .e-header__toggle {
    padding: 5px 24px 5px 0;
  }
  .e-header__search {
    display: none;
  }
  .e-header__basket-icon {
    padding: 5px 0 5px 24px;
  }
  .e-header__fav {
    display: block;
    position: absolute;
    right: 5px;
    top: 8px;
    padding: 10px;
  }
  .e-header__person {
    padding: 5px 24px 5px 0;
  }
  .e-header__lang {
    padding: 5px 0 5px 24px;
  }
  .e-header__basket-counter {
    top: 0;
    width: 18px;
    height: 18px;
    font-size: 12px;
  }
  .e-top-card__content {
    justify-content: flex-end;
    padding: 75px 0;
  }
  .e-top-card__title {
    max-height: 300px;
    margin: 0 0 15px 0;
    color: #ffffff;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .e-top-card__text {
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  .e-top-card__button {
    display: block;
    width: 100%;
  }
  .e-home-cards {
    padding-top: 75px;
  }
  .e-home-cards__title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 300;
  }
  .e-home-cards-card:hover .e-home-cards-card__more {
    display: none;
  }
  .e-home-cards-card:hover:before {
    display: none;
  }
  .e-home-cards__cards {
    width: 100%;
    margin: 0;
    padding: 0;
    .swiper-slide {
      width: auto !important;
    }
  }
  .e-home-cards .swiper-button-next,
  .e-home-cards .swiper-button-prev {
    display: none;
  }
  .e-home-categories {
    padding: 60px 0 0 0;
    &__title {
      margin-bottom: 45px;
      font-size: 30px;
      font-weight: 300;
    }
  }
  .e-home-categories-card {
    margin-bottom: 45px;
  }
  .e-home-categories-card__title {
    margin-top: 24px;
    font-size: 24px;
  }
  .e-home-categories-card__image {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .e-home-ig {
    padding: 10px 0 70px 0;
  }
  .e-home-ig__button {
    display: block;
    width: 100%;
    padding: 16px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  .e-home-ig__centered {
    padding-bottom: 30px;
  }
  .e-home-ig-card {
    width: 100px;
    height: 100px;
    margin: 0;
    border: 2px solid #ffffff;
  }
  .e-home-ig__cards {
    justify-content: center;
  }
  .e-home-features-card {
    padding: 145px 0 0 0;
    background-position: center top;
    text-align: center;
  }
  .e-home-features-card__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 300;
  }
  .e-home-features-card__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    br {
      display: none;
    }
  }
  .e-subscribe {
    text-align: center;
  }
  .e-subscribe__title {
    margin: 0;
    font-size: 24px;
  }
  .e-subscribe input {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 24px 0 10px 0;
    padding: 18px 48px;
  }
  .e-subscribe__button {
    display: block;
    width: 100%;
  }
  .e-subscribe > .container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .e-subscribe__info {
    max-width: 205px;
    margin: 30px 0 0 0;
    br {
      display: none;
    }
  }
  .e-home-seo {
    padding: 50px 0;
  }
  .e-home-seo__title {
    margin-bottom: 26px;
    font-size: 24px;
    font-weight: 300;
  }
  .e-home-seo__content p {
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  .e-footer {
    padding: 50px 0 25px 0;
    &__logo {
      margin-bottom: 30px;
      img,
      svg {
        max-width: 230px;
        max-height: 55px;
      }
    }
  }
  .e-footer__text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    br {
      display: none;
    }
  }
  .e-footer__info {
    margin: 6px 0 26px 0;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
    text-align: center;
    br {
      display: none;
    }
  }
  .e-footer__subtitle {
    display: block;
    position: relative;
    width: 100%;
    margin: -1px 0 0 0;
    padding: 25px 25px 25px 0;
    font-size: 16px;
    font-weight: 300;
    background: url("../images/icon_plus_white.png") no-repeat right center;
    &_active {
      background: url("../images/icon_minus_white.png") no-repeat right center !important;
      &:after {
        display: none !important;
      }
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: url("../images/doted_bg.png") repeat 0 0;
      filter: invert(1);
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: url("../images/doted_bg.png") repeat 0 0;
      filter: invert(1);
    }
  }
  .e-footer__nav {
    display: none;
    padding: 5px 0 20px 0;
  }
  .e-footer__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .e-footer__social {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 18px 0 22px 0;
    a {
      margin: 0;
      padding: 0;
    }
  }
  .e-footer__social a img,
  .e-footer__social a svg {
    max-width: 34px;
    max-height: 34px;
  }
  .e-footer__pay {
    padding: 15px 0 28px 0;
  }
  .e-footer__bottom {
    margin: 0;
    padding: 28px 0 0 0;
    border: 0;
  }
  .e-footer__logo {
    margin-bottom: 30px;
    padding: 0;
  }
  .e-header__navtitle {
    display: block !important;
    position: relative;
    width: 100%;
    margin: -1px 0 0 0;
    padding: 8px 25px 8px 0 !important;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
    background: url("../images/icon_plus.png") no-repeat right center;
    &_active {
      background: url("../images/icon_minus.png") no-repeat right center !important;
      &:after {
        display: none !important;
      }
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: url("../images/doted_bg.png") repeat 0 0;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: url("../images/doted_bg.png") repeat 0 0;
    }
  }
  .e-header__menu-close {
    display: block;
    bottom: 100%;
    width: auto;
    height: auto;
    left: 0;
    margin: 0;
    padding: 6px 15px;
    border: 0;
    transform: translateZ(5px);
  }
  .e-header__mob {
    position: static;
  }
  .e-header {
    transform-style: preserve-3d;
  }
  .e-header__menu {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 65px);
    overflow-y: auto;
    left: 0;
    top: 60px;
    padding: 5px 15px 20px 15px;
    border: 0;
    transform-style: preserve-3d;
  }
  .e-header__nav li a {
    font-size: 16px;
    font-weight: 300;
  }
  .e-header__button {
    padding: 18px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  .e-header__subtitle {
    margin: 18px 0 5px 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    text-align: center;
  }
  .e-header__info {
    margin: 0 0 10px 0;
    text-align: center;
  }
  .e-header__nav {
    display: none;
    margin: 0;
    padding-bottom: 10px;
  }
  .e-header__nav_padding {
    padding: 0;
  }
  .e-header__phone {
    margin: 0 0 20px 0;
    text-align: center;
  }
  .e-header__toggle_close {
    position: relative;
    padding: 5px 24px 5px 0;
  }
  .e-header > .container {
    max-width: 100% !important;
  }
  .e-modal__content {
    padding: 40px 20px 20px 20px;
  }
  .e-modal__info {
    margin-right: 5px;
    font-size: 13px;
  }
  .e-modal__row {
    justify-content: space-between;
    width: 100%;
  }
  .e-header-search {
    display: block;
  }
  .e-top-card__content {
    min-height: calc(100vh - 62px);
  }
  .e-top .swiper-pagination {
    bottom: 30px;
  }
  body {
    padding-top: 62px;
  }
  .e-header__news {
    margin: -15px 0 5px 0;
    padding: 2px 0;
    font-size: 10px;
  }
  .e-pagination {
    img,
    svg {
      max-width: 28px;
      max-height: 28px;
    }
  }
  .e-pagination li a {
    margin: 0 6px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  .e-goods-mob {
    display: flex;
    margin: 30px 0;
  }
  .e-goods__sub {
    display: none;
  }
  .e-goods__sort {
    display: flex;
  }
  .e-aside-collapse {
    padding: 0 0 15px 0;
    background: transparent;
    font-size: 24px;
    font-weight: 400;
    font-family: "Futura PT Book";
    &:before,
    &:after {
      display: none;
    }
  }
  .e-aside-wrap {
    display: block;
  }
  .e-aside-color__main {
    margin: 0;
    padding: 0;
    span {
      display: none;
    }
  }
  .e-aside-color {
    display: inline-block;
    width: auto;
    margin: -15px 20px 20px 0;
  }
  .e-aside-color__color {
    flex: 0 0 55px;
    width: 55px;
    height: 30px;
    border-radius: 0;
  }
  .e-goods__radio {
    display: block;
    width: 100%;
  }
  .e-goods__radio > div {
    display: block;
    width: 100%;
    padding: 8px;
    text-align: center;
  }
  .e-goods__row {
    padding-bottom: 30px;
  }
  .e-goods__title {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
  }
  .e-goods__cards {
    .e-home-cards-card {
      width: calc(100% + 24px);
      max-width: 270px;
      margin-left: -12px;
      margin-bottom: 30px;
    }
    .e-home-cards-card__wrap {
      height: 250px;
    }
    .e-home-cards-card__title {
      height: 32px;
      overflow: hidden;
      margin: 16px 0 22px 0;
      font-size: 14px;
      font-weight: 300;
    }
    .e-home-cards-card__sale {
      display: none;
    }
    .e-home-cards-card__oldprice {
      margin-right: 16px;
      font-size: 14px;
      font-weight: 300;
    }
    .e-home-cards-card__price {
      font-size: 14px;
      font-weight: 400;
      font-family: "Futura PT Book";
    }
  }
  .e-breadcrumps {
    display: none;
  }
  .e-pagination {
    padding: 10px 0 70px 0;
  }
  .e-goods__subtitle {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 300;
  }
  .e-goods__seo {
    padding-bottom: 40px;
  }
  .e-goods__tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    padding-bottom: 40px;
  }
  .e-goods-tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    margin: 0 10px 10px 0;
    padding: 4px 12px;
    border-radius: 999rem;
    font-size: 12px;
    font-weight: 300;
  }
  .e-searching {
    padding-bottom: 0;
  }
  .e-searching__title {
    display: block;
  }
  .e-searching__search {
    padding: 8px 0;
    font-size: 24px;
    font-weight: 300;
  }
  .e-searching__button {
    margin: 30px 0 20px 0;
  }
  .e-goods__sub_mob {
    display: block;
    text-align: center;
  }
  .e-goods__row {
    justify-content: center;
    padding-bottom: 0;
  }
  .e-item__empty {
    margin: 0 0 30px 0;
  }
  .e-item__cards {
    width: calc(100% + 30px) !important;
    margin-left: -15px;
  }
  .e-item__cards {
    .swiper-slide {
      height: calc(100vh - 62px);
      margin: 0 auto;
    }
  }
  .e-item__title {
    margin: 26px 0;
    font-size: 30px;
    font-weight: 300;
  }
  .e-item__row {
    margin-bottom: 25px;
  }
  .e-item__sale {
    margin: 0 22px 0 8px;
  }
  .e-item__price {
    font-size: 20px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  .e-item__button {
    padding: 16px 48px;
  }
  .e-item__like {
    margin-left: 20px;
  }
  .e-item__link {
    margin: 0 0 15px 0;
  }
  .e-feedback {
    padding: 45px 0 40px 0;
  }
  .e-feedback__title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
  }
  &__subtitle {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 300;
  }
  .e-feedback input {
    margin-bottom: 25px;
  }
  .e-reviews-card__date {
    display: block;
    width: 100%;
    margin: 18px 0;
  }
  .e-reviews-card__name {
    margin-bottom: 15px;
  }
  .e-reviews-card {
    padding: 20px 0;
  }
  .e-reviews-card__like {
    top: 75px;
  }
  .e-reviews__button {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  .e-reviews {
    padding: 40px 0 60px 0;
  }
  .e-home-cards_item {
    padding: 0 0 60px 0;
  }
  .e-feedback__text {
    display: block;
    width: 100%;
    margin: 0 0 16px 0;
  }
  .br-theme-fontawesome-stars-o .br-widget {
    margin: 0 0 35px 0;
  }
  .e-info {
    padding: 50px 0;
    &__content {
      padding: 0;
    }
  }
  .e-info__title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 300;
  }
  .e-info-card img,
  .e-info-card svg {
    max-width: 90px;
    max-height: 30px;
  }
  .e-info-card {
    min-height: 100px;
    margin-bottom: 10px;
    padding: 20px 20px 16px 20px;
    background: #000000 url("../images/info_right.png") no-repeat right 20px top 25px;
  }
  .e-info-card__title {
    display: inline-block;
    margin: 0 5px 0 0;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .e-info-card__name {
    display: inline-block;
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .e-info__content h4 {
    font-size: 16px;
  }
  .e-info__content h3 {
    font-size: 24px;
  }
  .e-info__test {
    margin: 30px 0;
    padding: 20px 80px 20px 20px;
    background: #000000 url("../images/info_right.png") no-repeat right 20px top 20px;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    img,
    svg {
      max-width: 48px;
      max-height: 65px;
      margin-right: 20px;
    }
  }
  .e-basket {
    display: block;
    position: relative;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
  }
  .e-basket__title {
    margin-bottom: 26px;
    font-size: 30px;
    font-weight: 300;
  }
  .e-basket__summ {
    font-size: 16px;
    font-weight: 300;
  }
  .e-basket__info-text {
    width: 375px;
    height: 59px;
    left: auto;
    right: -54px;
    top: calc(100% + 30px);
    padding: 12px 40px 0 40px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
    background: #ffffff url("../images/basket_info_bg_mob.png") no-repeat 0 0;
  }
  .e-basket__save {
    margin-bottom: 24px;
  }
  .e-basket__header {
    display: none;
  }
  .e-basket-card {
    padding: 20px 0;
    .col-xl-3 {
      position: static;
    }
    .col-8 {
      position: static;
    }
  }
  .e-basket-card__image {
    width: 100px;
    height: 135px;
    margin-bottom: 20px;
  }
  .e-basket-card__tag {
    display: none;
  }
  .e-basket-card__delete {
    top: 0;
    right: 0;
    padding: 10px 0 10px 10px;
  }
  .e-basket__cards {
    .align-items-center {
      align-items: flex-start !important;
    }
  }
  .e-basket-card__title {
    height: 38px;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
  }
  .e-basket-card__info {
    display: inline-block;
    padding: 14px 16px 0 0;
  }
  .e-basket-card__sale {
    display: none;
  }
  .e-basket-card__info_hide {
    display: none;
  }
  .e-basket-card__oldprice {
    margin: 12px 18px 0 0;
    font-size: 16px;
    font-weight: 300;
  }
  .e-basket-card__price {
    display: inline-block;
    width: auto;
    margin: 12px 0 0 0;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  .e-basket-card__counter input {
    max-width: 42px;
  }
  .e-basket-card__minus {
    width: 30px;
    height: 30px;
  }
  .e-basket-card__plus {
    width: 30px;
    height: 30px;
  }
  .e-basket-card__summ {
    margin: 22px 0 0 0;
    font-size: 24px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  .e-basket-card__counter {
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: 6;
  }
  .e-basket-promo {
    .col-xl-5 {
      position: static;
    }
    padding: 26px 0 35px 0;
  }
  .e-basket-promo__title {
    margin: 0 0 25px 0;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }
  .e-basket-promo__checked {
    position: absolute;
    bottom: 20px;
  }
  .e-basket__button {
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  .e-order {
    padding: 50px 0 70px 0;
  }
  .e-order__title {
    margin-bottom: 55px;
    font-size: 30px;
    font-weight: 300;
  }
  .e-order__header {
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
  }
  .e-order__point_done:after {
    width: 90px;
  }
  .e-order-step__title {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 300;
    text-align: left;
  }
  .e-order-step input {
    margin-bottom: 15px;
  }
  .e-order-step__info {
    margin-bottom: 30px;
    br {
      display: none;
    }
  }
  .show-step_2 {
    display: block;
    max-width: 100%;
  }
  .e-order-step__button {
    padding: 17px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Futura PT Book";
  }
  .e-order-step__back {
    flex: 0 0 55px;
    padding: 16px 8px;
    color: transparent;
    font-size: 16px;
    background: #ffffff url("../images/order_back_mob.png") no-repeat center center;
  }
  .e-order-step__final {
    padding: 30px 0 20px 0;
  }
  .e-thx__text {
    margin-bottom: 20px;
  }
  .e-thx__title {
    margin: 35px 0 20px 0;
  }
  .e-home-cards__cards {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .e-subscribe input {
    padding: 18px;
  }
  .e-footer {
    .container {
      padding: 0 25px;
    }
  }
  .e-home-seo__content {
    position: relative;
    &_hide {
      height: 305px;
      overflow: hidden;
      &:after {
        display: block;
        position: absolute;
        content: "Читать дальше";
        bottom: 0;
        left: 0;
        width: 100%;
        padding-top: 20px;
        background: #ffffff;
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        font-family: "Futura PT Book";
        text-decoration: underline;
        cursor: pointer;
      }
    }
    &_opened {
      height: auto !important;
      &:after {
        padding-top: 20px !important;
        content: "Скрыть" !important;
      }
    }
  }
  .e-header__news {
    font-size: 8px;
  }
  .e-home-ig-card {
    flex: 1 1 auto;
  }
  .e-item__cards .swiper-slide {
    width: 100vw !important;
    max-width: 100% !important;
  }
  .e-header-basket__cards {
    height: unset;
    max-height: calc(100vh - 395px) !important;
  }
}

@media (max-width: 1100px) {
  .e-goods__cards .e-home-cards-card {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
  .e-header-basket:before {
    width: 65px;
    height: 100%;
  }
  .e-basket-card__counter input {
    padding: 0;
  }
  .e-header-basket-card__counter input {
    padding: 0;
  }
  .e-basket-card__delete {
    padding-top: 6px;
  }
}
